body h1,h2,p,label,input,button
{
margin: 0;
padding: 0;

}
body{
font-family: 'Times New Roman', Times, serif;
line-height: 1.6;
}
header{
background-color: rgb(101, 100, 187);
color: aliceblue;
text-align: center;
padding: 1rem ;
margin: 5px 0;

}
main
{
padding: 1rem;
text-align: center;
}
footer
{
background-color: #333;
position: absolute;
bottom: 0;
padding: 1rem 0;
color: #fff;
text-align: center;
width: 100%;
}
.signup-form, .signin-form
{
max-width: 300px;
margin: 0 auto;

}
label
{
display: block;
margin-bottom: 5px;
}
input{
width: 100%;
padding: 3px;
margin-bottom: 5px;
border: 1px solid #333;
border-radius: 10px;

}
button
{
display: inline-block;
margin: 10px auto;
text-align: center;
padding: 12px;
background-color: aqua;
color: rgb(145, 144, 199);

}
button:hover
{
background-color: blue;
}